{% extends 'base.html.twig' %}

{% block title %}Hello PersonController!{% endblock %}

{% block body %}
    <h1>{{ person.name }}</h1>
    <p>{{ person.age }}</p>
    <p>{{ person.adresse }}</p>
{% endblock %}
